 /* Colors */
 $greenSeaweed: rgba(2, 128, 144, 1);
 $blueQueen: rgba(73,50,103);
 $redFire: rgba(158,55,159);

  /* Fonts */
  $fontAsap: 'Asap', sans-serif; 

//  :root {
//     --greenSeaweed: rgba(2, 128, 144, 1);
//     --blueQueen: rgba(69, 105, 144, 1)
//     --redFire: rgba(244, 91, 105, 1);
//   }